<li class="conversation">
  <h2><%= and_list(conversation.participants) %> had a conversation about <%= and_list(conversation.topics) %></h2>
  <ul>
    <%= render :partial => "tweets/tweet",
               :collection => conversation.tweets %>
  </ul>
</li>