<li class="conversation">
  <h2><%= conversation.participants.join(", ") %> had a conversation about <%= conversation.topic %></h2>
  <ul>
    <%= render :partial => "tweets/tweet",
               :collection => conversation.tweets %>
  </ul>
</li>