<ul class='tweets'>
  <% if !@tweets.empty? %>
    <% @tweets.each do |tweet| %>
      <li><%= tweet[:user][:screen_name] %>: <%= tweet[:text] %></li>
    <% end %>
  <% else %>
    <li>No tweets since last time you checked.</li>
  <% end %>
</ul>