<div class="stats">
  Viewing <%= @num_total_tweets %> tweets since you last checked; <%= @num_in_conversations %> are in conversations.
</div>
<ul class='tweets'>
  <% if !@tweets.stream.empty? %>
    <% @tweets.stream.each do |tweet_or_conversation| %>
      <%= render(tweet_or_conversation) %>
    <% end %>
  <% else %>
    <li>No tweets since last time you checked.</li>
  <% end %>
</ul>